<mat-form-field appearance="outline">
    <input #inputText matInput placeholder="Text here.." value="" />
  </mat-form-field>
  {{text}}
  <button mat-flat-button color="primary" (click)="btnClick(inputText)">
    OK
  </button>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>ประเทศ</mat-label>
    <select matNativeControl required [(ngModel)]="country"
    (ngModelChange)="selectCountry">
      <option value="ญี่ปุ่น">ญี่ปุ่น</option>
      <option value="เนเธอร์แลนด์">เนเธอร์แลนด์</option>
    </select>
  </mat-form-field>
  {{country}}
  
  <h1>{{landmarks[selectIdx].name}}</h1>
  <h2>{{landmarks[selectIdx].country}}</h2>
  <p>{{landmarks[selectIdx].detail}}</p>
  <img src="{{landmarks[selectIdx].url}}" style="width: 100%;">