<!-- <app-databinding></app-databinding> -->
<app-landmarks></app-landmarks>
<!-- <app-header></app-header>
<div style="
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;">
  <mat-card style="padding: 1rem;">
    <mat-card-header>
      <mat-card-title style="text-align: center;">Login to My System</mat-card-title>
      <mat-card-subtitle style="text-align: start;">Please enter username and password</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-actions style="justify-content: space-between;">
      <button mat-stroked-button color="primary">SING UP</button>
      <button mat-raised-button color="primary">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div> -->
